<li>
	<a href="{% url 'views.user' user_name %}?view=Activity" id="main-menu-item-home"></a>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Projects" id="main-menu-item-project"></a>
	<div id="main-menu-project" class="compound-menu">
		<div class="user-photo-small"></div>
	</div>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Friends" id="main-menu-item-people"></a>
	<div id="main-menu-people" class="compound-menu">
		<div class="user-photo-small"></div>
	</div>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Content" id="main-menu-item-content"></a>
	<div id="main-menu-content" class="compound-menu">
		<div class="user-photo-small"></div>
	</div>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Settings" id="main-menu-item-settings"></a>
	<div id="main-menu-settings" class="compound-menu">
		<div class="user-photo-small"></div>
	</div>
</li>