<li>
	<a href="{% url 'views.user' user_name %}?view=Activity" id="main-menu-item-home"></a>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Projects" id="main-menu-item-project"></a>
	<ul>
		<li><a href="X">New Project</a></li>
		<li><a href="#Y">Show Projects</a></li>
	</ul>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Friends" id="main-menu-item-people"></a>
	<ul>
		<li><a href="X">Friends</a></li>
		<li><a href="#Y">Contributors</a></li>
	</ul>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Content" id="main-menu-item-content"></a>
	<ul>
		<li><a href="X">Uploads</a></li>
		<li><a href="#Y">Analysis</a></li>
	</ul>
</li>
<li>
	<a href="{% url 'views.user' user_name %}?view=Settings" id="main-menu-item-settings"></a>
	<ul>
		<li><a href="X">Settings</a></li>
		<li><a href="#Y">Logout</a></li>
	</ul>
</li>