<div id="page-body">
	<div id="private-header">
		<div id="private-user-title"><span>{{ project_name }}</span></div>
		<div id="project-menu">
		    <ul>
		        <li><a href="{% url 'views.project' user_name project_name %}?view=Settings">Settings</a></li>
		        <li><a href="{% url 'views.project' user_name project_name %}?view=Content">Content</a></li>
		        <li><a href="{% url 'views.project' user_name project_name %}?view=People">People</a></li>
		        <li><a href="{% url 'views.project' user_name project_name %}?view=Activity">Activity</a></li>
		    </ul>
		</div>
	</div>
	<div id="main-content">
		<div id="main-data">
			<h3>{{ view }}</h3>
			{% if  view == 'Activity' %}
			{% elif view == 'People' %}
			{% elif view == 'Content' %}
			{% elif view == 'Settings' %}
			{% endif %}
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</br>
		</div>
	</div>
</div>





