<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
    	</div>
    	<div class="navbar-collapse collapse">
          	<ul class="nav navbar-nav">

          		{% if viewer_name == '' %}
          			<li><a href="{% url 'randori.views.landing' %}"><i class="fa fa-home"></i></a></li>
          		{% else %}
          			<li><a href="{% url 'views.activities' viewer_name %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'views.projects' viewer_name %}"><i class="fa fa-folder-open"></i></a></li>
                <li><a href="{% url 'views.people' viewer_name %}?view=following"><i class="fa fa-group"></i></a></li>
                <li><a href="{% url 'views.settings' viewer_name %}?view=personal"><i class="fa fa-cog"></i></a></li>
                <li><a href="{% url 'randori.views.logout'%}"><i class="fa fa-sign-out"></i></a></li> 
          		{% endif %}
          	</ul>
          	<form class="navbar-form navbar-right">
            	<div class="form-group">
              		<input type="text" placeholder="phrase" class="form-control">
            	</div>
            	<button type="submit" class="btn btn-success">Search</button>
          	</form>
    	</div><!--/.navbar-collapse -->
  	</div>
</div>






