{% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/page_layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/menu_bar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/header.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/socialnet/pages.css' %}" />

<div id="page">
	<div id="page-personal-menu-bar">
		<div id="main-menu">
			<ul>
				<li>
					<a href="{% url 'randori.views.landing' %}" id="main-menu-item-home"></a>
				</li>
				<li>
					<a href="{% url 'randori.views.landing' %}" id="main-menu-item-project"></a>
				</li>
				<li>
					<a href="{% url 'randori.views.landing' %}" id="main-menu-item-people"></a>
				</li>
				<li>
					<a href="{% url 'randori.views.landing' %}" id="main-menu-item-content"></a>
				</li>
				<li>
					<a href="{% url 'randori.views.landing' %}" id="main-menu-item-settings"></a>
				</li>
		    </ul>
		</div>

		<div id="search-menu">
			<input type="text" class="search-text" value="" class="search-menu-text" />
			<a href="{% url 'randori.views.landing' %}" class="search-menu-button"></a>
		</div>
	</div>

	{% block content %}
		This is the content area
	{% endblock %}

	<div id="page-footer">
		<div id="footer-menu">
			<ul>
		        <li><a href="{% url 'randori.views.terms' %}">Terms</a> </li>
		        <li><a href="{% url 'randori.views.privacy' %}">Privacy</a></li>
		        <li><a href="{% url 'randori.views.about' %}">About</a></li>
		        <li><a href="{% url 'randori.views.contact' %}">Contact</a></li>
		    </ul>
		</div>
	</div>
</div>


￼
