{% load static from staticfiles %}

<div class="container theme-showcase">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="my-jumbo" class="container">
    </div>

    <div class="navbar navbar-inverse">
    	<a href="{% url 'views.project' user_name project_name %}?view=info" class="navbar-brand">{{ project_name }}</a>
		<ul class="nav navbar-nav pull-right">
	        {% if view == 'Activity' %}
				<li class="active"><a href="{% url 'views.project' user_name project_name %}?view=activity">Activity</a></li>
			{% else %}
				<li><a href="{% url 'views.project' user_name project_name %}?view=activity">Activity</a></li>		
			{% endif %}

			{% if view == 'People' %}
				<li class="active"><a href="{% url 'views.project' user_name project_name %}?view=people">People</a></li>
			{% else %}
				<li><a href="{% url 'views.project' user_name project_name %}?view=people">People</a></li>			
			{% endif %}

			{% if view == 'Revisions' %}
				<li class="active"><a href="{% url 'views.project' user_name project_name %}?view=revisions">Revisions</a></li>
			{% else %}
				<li><a href="{% url 'views.project' user_name project_name %}?view=revisions">Revisions</a></li>		
			{% endif %}

			{% if view == 'Analysis' %}
				<li class="active"><a href="{% url 'views.project' user_name project_name %}?view=analysis">Analysis</a></li>
			{% else %}
				<li><a href="{% url 'views.project' user_name project_name %}?view=analysis">Analysis</a></li>		
			{% endif %}
	    </ul>
	</div>

</div> <!-- /container -->














