.top-buffer-small
{
	margin-top: 5px;
}

.top-buffer-medium
{
	margin-top: 10px;
}

.top-buffer-large
{
	margin-top: 20px;
}

.bottom-buffer-small
{
	margin-bottom: 5px;
}

.bottom-buffer-medium
{
	margin-bottom: 10px;
}

.bottom-buffer-large
{
	margin-bottom: 20px;
}