#footer-menu
{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

#footer-menu ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position:relative;
    left:50%;
}

#footer-menu a
{
    display: block;
    width: 8em;
    color: white;
    background-color: #090974;
    text-decoration: none;
    text-align: center;
}

#footer-menu a:hover
{
    background-color: #4F4FD9;
}

#footer-menu li
{
    float: left;
    margin-right: 0.5em;
    font-family: 'Calibri', sans-serif;
    font-size: 12;
    position:relative;
    border-style: solid;
    border-color: #7373d9;
    border-width: 2px;
}