.public-user-profile-cover
{
    height: 260px;
    margin-right: 0;
    padding-right: 0;
}

.public-user-photo-large
{
    position: absolute;
    z-index:100;
    margin: -120px 0 -60px 10px; 
}

#photo 
{
    position: absolute;
    z-index:100;
    margin: -120px 0 -60px 10px; 
}

#my-image
{
    position: absolute;
    z-index:100;
    left: -30px;
    bottom: -290px;
}



#my-jumbo
{
    background-color: grey;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; 
    background: url('../../images/socialnet/stock_cover.png') no-repeat center center fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    height: 260px;
    margin-right: 0;
    padding-right: 0;
}












