#user-projects
{

}

#user-projects ul
{
	list-style-type: none;
}

#user-projects a
{
	text-decoration: none;
}

#user-friends
{

}

#user-friends ul
{
	list-style-type: none;
}

#user-friends a
{
	text-decoration: none;
}

#user-data
{

}

#user-data ul
{
	list-style-type: none;
}

#user-data a
{
	text-decoration: none;
}