

#user_projects
{
	list-style-type: none;
}

#user_projects ul
{
	list-style-type: none;
}

#user_projects a
{
	
}

#user_friends
{
	list-style-type: none;
}

#user_data
{
	list-style-type: none;
}

#user_analysis
{
	list-style-type: none;
}
