html, body 
{
    padding: 0;
    margin: 0;
} 

#page
{
	min-height: 100%;
    position: relative;
}

#page-personal-menu-bar
{
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-image: url('../../images/randori/blue_metal.jpg');
}

#public-page-header
{
    height: 260px;
    background-size: 100% 100%;
	background-image: url('../../images/randori/stock_cover.png');
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

#private-page-header
{
    height: 100px;
    background-size: 100% 100%;
    background-image: url('../../images/randori/blue_metal.jpg');
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

#page-main
{
    background-color: #FFFFFF;
    height: 50%;
}

#page-footer
{
	height: 35px;
	padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('../../images/randori/blue_metal.jpg');
}