{% extends "socialnet/project/base.html" %}

{% block content %}
	
	<div class="container">
		<div class="panel panel-default">
	        <div class="panel-heading"><h3>{{ view }}</h3></div>
	    	</br>
	    	<h4>Owner</h4>
	    	<div id="user-projects">
				<ul>
					<li><a href="{% url 'views.user' owner.username %}">{{ owner.username }}</a></li>
				</br>
				</ul>
			</div>

	    	<h4>Contributors</h4>
	    	<div id="user-projects">
				<ul>
				{% for c in contributors %}
					<li><a href="{% url 'views.user' c.username %}">{{ c.username }}</a></li>
				{% endfor %}
				</br>
				</ul>
			</div>

	    	<h4>Observers</h4>
	    	<div id="user-projects">
				<ul>
				{% for o in observers %}
					<li><a href="{% url 'views.user' o.username %}">{{ o.username }}</a></li>
				{% endfor %}
				</br>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}