#footer-menu
{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    padding-top: 10px;
}

#footer-menu ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position:relative;
    left:50%;
}

#footer-menu a
{
    display: block;
    width: 5em;
    text-decoration: none;
    text-align: center;
}

#footer-menu li
{
    float: left;
    margin-right: 0.3em;
    position:relative;
}