html, body 
{
    padding: 0;
    margin: 0;
    height: 100%;
} 

#page-body
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow:auto;
    padding-bottom: 40px;
}


#page-footer 
{
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    background-color: #eee;
}

