<style>

    .activity
    {
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 40px;
        padding-right: 6px;
    }

    .activity-icon
    {
        margin-top: 10px;
        margin-left: 10px;
    }

    .activity-data
    {
        border: #d9e0ea 1px solid;
        padding-bottom: 10px;
    }

    .activity-title
    {
        margin-right: 10px;
        margin-top: 5px;
        font-size: 135%; 
    }

    
</style>

<div class="activity">
    <div class="row">

        <div class="col-md-1">
            {% if activity.0 == 'project' %}
            <div class="activity-icon"><i class="fa fa-folder fa-3x"></i></div>
            {% elif activity.0 == 'data' %}
            <div class="activity-icon"><i class="fa fa-file fa-3x"></i></div>
            {% elif activity.0 == 'analysis' %}
            <div class="activity-icon"><i class="fa fa-bar-chart-o fa-3x"></i></div>
            {% endif %}
        </div>

        <div class="col-md-11 activity-data">
            <div class="row">
                <div class="col-md-12 activity-title">
                    {% if activity.0 == 'project' %}
                    <a href="{% url 'views.user' activity.0 %}?view=activity">
                        <span>{{activity.1}}</span>
                    </a>
                    {% elif activity.0 == 'data' %}
                    <a href="{% url 'views.user' activity.0 %}?view=activity">
                        <span>{{activity.1}}</span>
                    </a>
                    {% elif activity.0 == 'analysis' %}
                    <a href="{% url 'views.user' activity.0 %}?view=activity">
                        <span>{{activity.1}}</span>
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% if activity.0 == 'project' %}
                    <span>Project {{activity.1}} created</span>
                    {% elif activity.0 == 'data' %}
                    <span>Data {{activity.1}} created</span>
                    {% elif activity.0 == 'analysis' %}
                    <span>Analysis {{activity.1}} created</span>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span>Date: {{activity.2}}</span>
                </div>
            </div>
        </div> 
  
        
    </div>
</div>