{% extends "socialnet/user/base.html" %}

{% block main_page %}

<style>
    #people
    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
        border-left: #d9e0ea 1px solid;
        border-right: #d9e0ea 1px solid;
        border-bottom: #d9e0ea 1px solid;
    }

    #top-spacer
    {
        margin-top: 40px;
    }

    #bottom-spacer
    {
        margin-bottom: 40px;
    }

    #x
    {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

    <div class="container">
        <div class="panel panel-default" id="content-formatting">
            <div class="panel-heading"><h3>{{ view }}</h3></div>
            
            <div class="row" id="top-spacer"></div>

            <ul class="nav nav-tabs" id="x">
                {% if subview == 'following' %}
                <li class="active"><a href="{% url 'views.people' viewer_name %}?view=following">Following</a></li>
                {% else%}
                <li><a href="{% url 'views.people' viewer_name %}?view=following">Following</a></li>
                {% endif %}

                {% if subview == 'followers' %}
                <li class="active"><a href="{% url 'views.people' viewer_name %}?view=followers">Followers</a></li>
                {% else%}
                <li><a href="{% url 'views.people' viewer_name %}?view=followers">Followers</a></li>
                {% endif %}

                {% if subview == 'contributors' %}
                <li class="active"><a href="{% url 'views.people' viewer_name %}?view=contributors">Contributors</a></li>
                {% else%}
                <li><a href="{% url 'views.people' viewer_name %}?view=contributors">Contributors</a></li>
                {% endif %}
            </ul>

            <div class="row" id="people">
                
                <div class="col-md-6">
                    {% for person in people_left %}
                        {% include "socialnet/user/person.html"%}
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    {% for person in people_right %}
                        {% include "socialnet/user/person.html"%}
                    {% endfor %}
                </div>
            </div>

            <div class="row" id="bottom-spacer"></div>

        </div>
    </div>

{% endblock %}