{% load staticfiles %}

<style>
    .person
    {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 12px;
        margin-right: 20px;
        border: #d9e0ea 1px solid;
        padding-right: 6px;
    }

    .person-img
    {
        width: 80px;
        height: 80px;
    }

    #heading-column
    {
       padding-left: 23px; 
    }

    #button-column
    {
        padding-top: 2px;
        padding-right: 15px;
    }

    .person-heading
    {
        font-size: 135%;
    }
    
</style>

<div class="person">
    <div class="row">

        <div class="col-md-2">
            <a href="{% url 'views.user' person.0 %}?view=activity">
                <img class="person-img" src="{% static person.2 %}" alt="Peronsal Photo">
            </a>
        </div>

        <div class="col-md-9" id="heading-column">
            <div class="row">
                <div class="col-md-5">
                    <a href="{% url 'views.user' person.0 %}?view=activity">
                        <span class="person-heading">{{person.0}}</span>
                    </a>
                </div>
                <div class="col-md-7"></div>
            </div>
            <div class="row">
                <div class="col-md-8">{{person.1}}</div>
                <div class="col-md-4"></div>
            </div>

        </div>

        <div class="col-md-1" id="button-column">
            {% if sub_view == 'following' %}
            <a href="{% url 'views.user' user_name %}?view=people_following&amp;action=delete&amp;item={{person.0}}">
                <button type="button" data'cool' class="close" aria-hidden="true"><i class="fa fa-times fa"></i></button>
            </a>
            {% else %}
                {% if person.3 == False %}
                <a href="{% url 'views.user' user_name %}?view=people_{{sub_view}}&amp;action=follow&amp;item={{person.0}}">
                    <button type="button" data'cool' class="close" aria-hidden="true"><i class="fa fa-plus fa"></i></button>
                </a>
                {% endif %}
            {% endif %}
        </div>

    </div>


</div>