{% load staticfiles %}

<style>
    .person
    {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 12px;
        margin-right: 20px;
        border: #d9e0ea 1px solid;
        padding-right: 6px;
    }

    .person-img
    {
        width: 80px;
        height: 80px;
    }

    #heading-column
    {
       padding-left: 23px; 
    }

    #button-column
    {
        padding-top: 2px;
        padding-right: 20px;
    }
    
</style>

<div class="person">
    <div class="row">

        <div class="col-md-2">
            <a href="{% url 'views.user' person.0 %}?view=activity">
                <img class="person-img" src="{% static person.2 %}" alt="Peronsal Photo">
            </a>
        </div>

        <div class="col-md-9" id="heading-column">
            <a href="{% url 'views.user' person.0 %}?view=activity">
                <h4 class="person-heading">{{person.0}}</h4>
            </a>
           <span>{{person.1}}</span>
        </div>

        <div class="col-md-1" id="button-column">
            {% if view == 'people' %}
            <button type="button" class="close" aria-hidden="true"><i class="fa fa-times-circle fa"></i></button>
            {% elif view == 'person_requests' %}
            <button type="button" class="close" aria-hidden="true"><i class="fa fa-check-circle fa"></i></button>
            {% elif view == 'add_person' %}
            <button type="button" class="close" aria-hidden="true"><i class="fa fa-plus-circle fa"></i></button>
            {% endif %}
        </div>

    </div>
</div>