{% extends "socialnet/user/base.html" %}

{% block main_page %}

<style>
    #top-spacer
    {
        margin-top: 40px;
    }

    #bottom-spacer
    {
        margin-bottom: 40px;
    }

    .caution-bar
    {
        background-color: #FFE6BF;
        border-top: #d9e0ea 1px solid;
        border-bottom: #d9e0ea 1px solid;
        margin-top: -21px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 20px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px; 
        font-weight: bold;
    }

    .project-bar
    {
        vertical-align: middle;
        margin-bottom: 8px;
        margin-top: 32px;
        line-height: 15px; 
        font-weight: bold;
    }

    .error-bar
    {
        vertical-align: middle;
        margin-bottom: 8px;
        margin-top: 32px;
        line-height: 15px; 
        font-weight: bold;
        color:#D2322D;
    }

    #project-name-form
    {
        margin-top: 10px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () 
    {
        var project = "";

        $('.leave-button').on('click', function (e) 
        {
            project = $(this).data('id');
            $('.project-bar span').text('Project: ' + project)
        })

        $('.delete-button').on('click', function (e) 
        {
            project = $(this).data('id');
            $('.project-bar span').text('Project: ' + project)
            $('#delete-project-text').val('')
            $('.error-bar span').hide();
        })

        $('#leave-button-accept').on('click', function (e) 
        {
            window.location.replace("{% url 'views.leave_project' user_name %}?name=" + project);
        })

        $('#delete-button-accept').on('click', function (e) 
        {
            entered_text =  $('#delete-project-text').val();

            if( project != entered_text )
            {
                $('.error-bar span').show();
            }
            else
            {
                window.location.replace("{% url 'views.delete_project' user_name %}?name=" + project);
            }
        })
    });
    
</script>

<div class="container">
    <div class="panel panel-default" id="content-formatting">
        <div class="panel-heading"><h3>{{ view }}</h3></div>

        <div class="row" id="top-spacer"></div>

        <div class="row">
            
            <div class="col-md-10">
            </div>

            <div class="col-md-2">
                {% if view_type != 'public' %}
                <a class="btn btn-primary" href="{% url 'views.new_project' user_name %}">New Project</a>
                {% endif %}
            </div>
        </div>

        {% for project in project_data %}
            {% include "socialnet/user/project.html"%}
        {% endfor %}

        <div class="row" id="bottom-spacer"></div>
    </div>
</div>

<!-- Delete Project Modal -->
<div class="modal fade" id="delete-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Project</h4>
      </div>
      <div class="modal-body">
        <div class="caution-bar">Read below before preceeding!</div>
        <div class="project-bar"><span>Project: project name</span></div>
        Are you sure you wish to delete this project? This cannot be undone.</br>
        To delete this project type the name of the project in the dialog below.</br>
        <div class="error-bar"><span>Error: the project name entered does not match this project.</span></div>
        <form>
            <div class="form-group" id="project-name-form">
                <input id="delete-project-text" type="text" placeholder="project name case sensitive" class="form-control">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete-button-accept">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Leave Project Modal -->
<div class="modal fade" id="leave-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Leave Project</h4>
      </div>
      <div class="modal-body">
        <div class="caution-bar">Read below before preceeding!</div>
        <div class="project-bar"><span>Project: project name</span></div>
        Are you sure you wish to leave this project? This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="leave-button-accept">Leave</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}