{% load static from staticfiles %}

<div class="container theme-showcase">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="my-jumbo" class="container">
    	<div class="row">
          	<div class="col-lg-4 col-xs-5">
          		<div id="my-image">
        			<img src="{% static 'images/socialnet/profile.png' %}" alt="landing" class="img-thumbnail"/>
        		</div>
        	</div>
        	<div class="col-lg-8 col-xs-7"></div>
		</div>
    </div>

    <div class="row">
      	<div class="col-lg-2 col-xs-3"></div>
    	<div class="col-lg-10 col-xs-9">
		    <div class="navbar navbar-inverse">
				<a href="{% url 'views.user' user_name %}?view=activity" class="navbar-brand">{{ first_name }} {{ last_name }}</a>

				<ul class="nav navbar-nav pull-right">
					{% if view == 'Activity' %}
						<li class="active"><a href="{% url 'views.activities' user_name %}">Activity</a></li>
					{% else %}
						<li><a href="{% url 'views.activities' user_name %}">Activity</a></li>
					{% endif %}

					{% if view == 'Projects' %}
						<li class="active"><a href="{% url 'views.projects' user_name %}">Projects</a></li>
					{% else %}
						<li><a href="{% url 'views.projects' user_name %}">Projects</a></li>
					{% endif %}

					{% if view == 'People' %}
						<li class="active"><a href="{% url 'views.people' user_name %}?view=following">People</a></li>
					{% else %}
						<li><a href="{% url 'views.people' user_name %}?view=following">People</a></li>
					{% endif %}

                    {% if view == 'Info' %}
                        <li class="active"><a href="{% url 'views.info' user_name %}">Info</a></li>
                    {% else %}
                        <li><a href="{% url 'views.info' user_name %}">Info</a></li>
                    {% endif %}
			    </ul>
			</div>
		</div>
	</div>

</div> <!-- /container -->













