{% load static from staticfiles %}

<div class="row top-buffer-large"></div>
<div class="row top-buffer-large"></div>
<div class="row top-buffer-large"></div>
<div class="row top-buffer-large"></div>
<div class="row top-buffer-large"></div>

<div class="container theme-showcase">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="my-jumbo" class="container">
    	<div class="row">
          	<div class="col-lg-4">
          		<div id="my-image">
        			<img src="{% static 'images/socialnet/profile.png' %}" alt="landing" class="img-thumbnail"/>
        		</div>
        	</div>
        	<div class="col-lg-8"></div>
		</div>
    </div>

    <div class="row">
      	<div class="col-lg-2"></div>
    	<div class="col-lg-10">
		    <div class="navbar navbar-inverse">
				<a href="#" class="navbar-brand">{{ first_name }} {{ last_name }}</a>
				<ul class="nav navbar-nav pull-right">
					<li><a href="{% url 'views.user' user_name %}?view=activity">Activity</a></li>
					<li><a href="{% url 'views.user' user_name %}?view=projects">Projects</a></li>
					<li><a href="{% url 'views.user' user_name %}?view=friends">Friends</a></li>
					<li><a href="{% url 'views.user' user_name %}?view=data">Data</a></li>
			    	<li><a href="{% url 'views.user' user_name %}?view=analysis">Analysis</a></li>
			    </ul>
			</div>
		</div>
	</div>

    

   
</div> <!-- /container -->

<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>
<div class="row bottom-buffer-large"></div>








