{% load static from staticfiles %}

<div id="large-page-header">
	<img src="{% static 'images/randori/stock_profile_big.png' %}" alt="landing" id="public-user-photo-large"/>
	<div id="public-user-title"><span>{{ first_name }} {{ last_name }}</span></div>
	<div id="public-user-menu">
	    <ul>
	    	<li><a href="{% url 'views.user' user_name %}?view=analysis">Analysis</a></li>
	        <li><a href="{% url 'views.user' user_name %}?view=data">Data</a></li>
	        <li><a href="{% url 'views.user' user_name %}?view=friends">Friends</a></li>
	        <li><a href="{% url 'views.user' user_name %}?view=projects">Projects</a></li>
	        <li><a href="{% url 'views.user' user_name %}?view=activity">Activity</a></li>
	    </ul>
	</div>
</div>






