{% extends "socialnet/user/base.html" %}


<style>
    #settings
    {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
</style>

{% block content %}

    <div class="container">
        <div class="panel panel-default" id="content-formatting">
            <div class="panel-heading"><h3>{{ view }}</h3></div>
            <ul class="nav nav-tabs">
                {% if sub_view == 'personal' %}
                <li class="active"><a href="{% url 'views.user' viewer_name %}?view=settings_personal">Personal Info</a></li>
                {% else%}
                <li><a href="{% url 'views.user' viewer_name %}?view=settings_personal">Personal Info</a></li>
                {% endif %}

                {% if sub_view == 'account' %}
                <li class="active"><a href="{% url 'views.user' viewer_name %}?view=settings_account">Account Info</a></li>
                {% else%}
                <li><a href="{% url 'views.user' viewer_name %}?view=settings_account">Account Info</a></li>
                {% endif %}
            </ul>
            <div class="row" id="settings">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    {% if sub_view == 'personal' %}
                    {% include "socialnet/user/personal_settings.html"%}
                    {% elif sub_view == 'account' %}
                    {% include "socialnet/user/account_settings.html"%}
                    {% else %}
                    <p>Settings Error</p>
                    {% endif %}
                </div>
        
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

{% endblock %}