{% extends "socialnet/user/base.html" %}


{% block main_page %}

<style>
    #settings
    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
        border-left: #d9e0ea 1px solid;
        border-right: #d9e0ea 1px solid;
        border-bottom: #d9e0ea 1px solid;
    }

    #top-spacer
    {
        margin-top: 40px;
    }

    #bottom-spacer
    {
        margin-bottom: 40px;
    }

    #x
    {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

    <div class="container">
        <div class="panel panel-default" id="content-formatting">
            <div class="panel-heading"><h3>{{ view }}</h3></div>
            <div class="row" id="top-spacer"></div>

            <ul class="nav nav-tabs" id="x">
                {% if sub_view == 'personal' %}
                <li class="active"><a href="{% url 'views.user' viewer_name %}?view=settings_personal">Personal Info</a></li>
                {% else%}
                <li><a href="{% url 'views.user' viewer_name %}?view=settings_personal">Personal Info</a></li>
                {% endif %}

                {% if sub_view == 'account' %}
                <li class="active"><a href="{% url 'views.user' viewer_name %}?view=settings_account">Account Info</a></li>
                {% else%}
                <li><a href="{% url 'views.user' viewer_name %}?view=settings_account">Account Info</a></li>
                {% endif %}
            </ul>

            <div class="row" id="settings">
                {% block main_content %}
                This is the content area
                {% endblock %}
            </div>

            <div class="row" id="bottom-spacer"></div>
        </div>
    </div>

{% endblock %}












