{% extends "socialnet/project/base.html" %}

{% block content %}

<style>
    #data-tabs
    {
        margin-top: 20px;
    }
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Data</h3></div>

        <ul class="nav nav-tabs" id="data-tabs">

            {% if view == 'data_hosts' %}
            <li class="active"><a href="{% url 'views.project' user_name project_name %}?view=data_hosts">Hosts</a></li>
            {% else %}
            <li><a href="{% url 'views.project' user_name project_name %}?view=data_hosts">Hosts</a></li>
            {% endif %}

            {% if view == 'data_timeline' %}
            <li class="active"><a href="{% url 'views.project' user_name project_name %}?view=data_timeline">Timeline</a></li>
            {% else %}
            <li><a href="{% url 'views.project' user_name project_name %}?view=data_timeline">Timeline</a></li>
            {% endif %}

            {% if view == 'data_detail' %}
            <li class="active"><a href="{% url 'views.project' user_name project_name %}?view=data_detail">Detail</a></li>
            {% else %}
            <li><a href="{% url 'views.project' user_name project_name %}?view=data_detail">Detail</a></li>
            {% endif %}

        </ul>
        
        {% if view == 'data_hosts' %}
            {% include "socialnet/project/data_hosts.html"%}
        {% elif view == 'data_timeline' %}
            {% include "socialnet/project/data_timeline.html"%}
        {% elif view == 'data_detail' %}
            {% include "socialnet/project/data_detail.html"%}
        {% endif %}

    </div>
</div>

{% endblock %}
    
