{% load static from staticfiles %}

<div class="container theme-showcase">

    <div class="navbar navbar-inverse">
		<a href="{% url 'views.project' user_name project_name %}?view=activity" class="navbar-brand">{{ project_name }}</a>
		<ul class="nav navbar-nav pull-right">

			{% if view == 'Info' or view == 'Settings' or view == 'Activity' %}
			<li class="dropdown active">
			{% else %}
			<li class="dropdown">
			{% endif %}
  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <b class="caret"></b></a>
    		<ul class="dropdown-menu">
    			<li><a href="{% url 'views.project' user_name project_name %}?view=activity">Activity</a></li>
      		<li><a href="{% url 'views.project' user_name project_name %}?view=info">Info</a></li>
      		<li><a href="{% url 'views.project' user_name project_name %}?view=settings">Settings</a></li>
        	</ul>
      </li>

      {% if view == 'People' %}
        <li class="active"><a href="{% url 'views.project' user_name project_name %}?view=people">People</a></li>
      {% else %}
        <li><a href="{% url 'views.project' user_name project_name %}?view=people">People</a></li>      
      {% endif %}

      {% if view == 'Hosts' %}
          <li class="active"><a href="{% url 'views.project' user_name project_name %}?view=hosts">Hosts</a></li>
      {% else %}
          <li><a href="{% url 'views.project' user_name project_name %}?view=hosts">Hosts</a></li>          
      {% endif %}

      {% if view == 'Data' or view == 'New Data' %}
			<li class="dropdown active">
			{% else %}
			<li class="dropdown">
			{% endif %}
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
    		<ul class="dropdown-menu">
      		<li><a href="{% url 'views.project' user_name project_name %}?view=new_data">New Data</a></li>
          	<li><a href="{% url 'views.project' user_name project_name %}?view=data">All Data</a></li>
        	</ul>
      </li>

      {% if view == 'Analysis' or view == 'New Analysis' %}
			<li class="dropdown active">
			{% else %}
			<li class="dropdown">
			{% endif %}
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <b class="caret"></b></a>
    		<ul class="dropdown-menu">
      		<li><a href="{% url 'views.project' user_name project_name %}?view=new_analysis">New Analysis</a></li>
          	<li><a href="{% url 'views.project' user_name project_name %}?view=analysis">All Analysis</a></li>
        	</ul>
      </li>

	    </ul>
	</div>

</div> <!-- /container -->














