{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Randori is a research site. More details to follow.">
	    <meta name="author" content="Fredrick Stakem">

		<title>Randori</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/components.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/page_layout.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/pages.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/footer.css' %}" />
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/randori/header.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/randori/pages.css' %}" />-->

		<!-- Custom styles for this template -->
		<link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
	    <link href="jumbotron.css" rel="stylesheet">
	    <link href="sticky-footer.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->

	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	    	<div class="container">
	        	<div class="navbar-header">
	          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</button>
	        	</div>
	        	<div class="navbar-collapse collapse">
		          	<ul class="nav navbar-nav">
		          		{% if view == 'Home' %}
		          			<li class="active" ><a href="{% url 'randori.views.landing' %}">Randori</a></li>
		          		{% else %}
		          			<li><a href="{% url 'randori.views.landing' %}">Randori</a></li>
		          		{% endif %}

		          		{% if view == 'Features' %}
		          			<li class="active" ><a href="{% url 'randori.views.features' %}">Features</a></li>
		          		{% else %}
		          			<li><a href="{% url 'randori.views.features' %}">Features</a></li>
		          		{% endif %}

		          		{% if view == 'Blog' %}
		          			<li class="active" ><a href="{% url 'randori.views.blog' %}">Blog</a></li>
		          		{% else %}
		          			<li><a href="{% url 'randori.views.blog' %}">Blog</a></li>
		          		{% endif %}

		          		{% if view == 'Register' %}
		          			<li class="active" ><a href="{% url 'randori.views.register' %}">Register</a></li>
		          		{% else %}
		          			<li><a href="{% url 'randori.views.register' %}">Register</a></li>
		          		{% endif %}
		          	</ul>
		          	<form class="navbar-form navbar-right">
		            	<div class="form-group">
		              		<input type="text" placeholder="Email" class="form-control">
		            	</div>
		            	<div class="form-group">
		              		<input type="password" placeholder="Password" class="form-control">
		            	</div>
		            	<button type="submit" class="btn btn-success">Sign in</button>
		          	</form>
	        	</div><!--/.navbar-collapse -->
	      	</div>
	    </div>

	    <div id="page-body">
		    {% block content %}
			This is the content area
			{% endblock %}
		</div>

		<div id="page-footer">
			<div class="container" id="page-footer">
				<div id="footer-menu">
					<ul>
				        <li><a class="text-muted credit" href="{% url 'randori.views.terms' %}">Terms</a> </li>
				        <li><a class="text-muted credit" href="{% url 'randori.views.privacy' %}">Privacy</a></li>
				        <li><a class="text-muted credit" href="{% url 'randori.views.about' %}">About</a></li>
				        <li><a class="text-muted credit" href="{% url 'randori.views.contact' %}">Contact</a></li>
				    </ul>
				</div>
			</div>
	    </div>

	    
	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="{% static 'bootstrap/assets/js/jquery.js' %}"></script>
	    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'bootstrap/assets/js/holder.js' %}"></script>
	</body>
</html>

