{% extends "randori/base.html" %}

{% block content %}

	
	<div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>

	<div class="container theme-showcase">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        
        <div class="jumbotron">
        	<h1>Blog</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>

        <div class="page-header">
            <h1>Post 1</h1>
        </div>
        <img data-src="holder.js/200x200" src="data:image/png;base64," class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <div class="page-header">
            <h1>Post 2</h1>
        </div>
        <img data-src="holder.js/200x200" src="data:image/png;base64," class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <div class="page-header">
            <h1>Post 3</h1>
        </div>
        <img data-src="holder.js/200x200" src="data:image/png;base64," class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <div class="page-header">
            <h1>Post 4</h1>
        </div>
        <img data-src="holder.js/200x200" src="data:image/png;base64," class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <div class="page-header">
            <h1>Post 5</h1>
        </div>
        <img data-src="holder.js/200x200" src="data:image/png;base64," class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

    </div> <!-- /container -->

    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
        

{% endblock %}