{% extends "randori/base.html" %}

{% block content %}

	
	<div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>
    <div class="row top-buffer-large"></div>

	<div class="container theme-showcase">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
        	<h1>Terms</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>

        
    </div> <!-- /container -->

    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
    <div class="row bottom-buffer-large"></div>
        

{% endblock %}